.rounded-table {
  width: 100%;
  border: 1px solid gray;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  background-color: white;
}

.rounded-table thead th {
  background-color: #607ad1;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.rounded-table tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

.rounded-table thead th:first-child {
  border-top-left-radius: 10px;
}

.rounded-table thead th:last-child {
  border-top-right-radius: 10px;
}

.rounded-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.rounded-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.rounded-table th:nth-child(3),
.rounded-table td:nth-child(3),
.rounded-table th:nth-child(4),
.rounded-table td:nth-child(4) {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  text-align: center;
  white-space: nowrap;
}

/* Hover Effects */
.rounded-table tbody tr:hover td {
  background-color: #e3f2fd;
  color: #004085;
}

.rounded-table tbody td:hover {
  background-color: #80cbc4;
  color: white;
}

.rounded-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.center-text {
  text-align: center;
}

.expand-toggle-button {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
