body {
  background: linear-gradient(to bottom, #e4f0fd 30%, #ffffff 60%);
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  padding: 20px;
}

.box-with-border {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #f8f8f8 !important;
}

.btn-primary {
  background-color: #607ad1 !important;
  border-color: #607ad1 !important;
}

.btn-primary:hover {
  background-color: #4e66c1 !important;
  border-color: #4e66c1 !important;
}

.scrollable {
  max-height: 50vh;
  overflow-y: auto;
}

.selected-item {
  background-color: #ecf1fd !important;
  font-weight: 500;
}

.custom-checkbox .form-check-input:checked {
  background-color: #607ad1;
  border-color: #607ad1;
}

.custom-checkbox .form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(96, 122, 209, 0.25);
}

/* Selected tab */
.custom-tabs .nav-link.active {
  color: #607ad1 !important;
  background-color: #e9f3ff !important;
  font-weight: bold;
}

/* Unselected tab */
.custom-tabs .nav-link {
  color: #607ad1 !important;
}
